*{
    margin: 0;
    box-sizing: border-box;
}
ol, ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --primary-color: #f24080;
    --primary-btn-color: #f24080;
    --header-list-hover-color: #f24080;
    --topbar-icon-color: #f24080;
    --btn-hover-color: #961040;
    --nav-list-hover-color: #961040;
    --social-icon-hover-color: #961040;
    --title-color: #111111;
    --title-color: #111111;
    --content-color: #414141;
    --para-color: #414141;
    --secondary-btn-color: #41246d;
    --header-list-color: #ffffff;
    --btn-text-color: #ffffff;
    --header-navlist-font: 'Mulish';
    --btn-font: 'Mulish';
    --title-font: 'Mulish';
    --content-font: 'Poppins';
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-42: 42px;
    --fs-60: 60px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.btn .bg-pink, .btn .bg-blue{
    padding: 10px 20px;
    border-radius: 50px 50px;
    color: var(--btn-text-color);
    background-color: var(--primary-btn-color);
    font-size: var(--fs-14);
    font-family: var(--btn-font);
    transition: all 0.5s;
    display: inline-block;
}
.btn .bg-blue{      
    background-color: var(--secondary-btn-color);
}
.btn a:hover{
    background-color: var(--btn-hover-color);
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.title{
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--fs-42);
}
.title img{
    width: 110px;
    height: 40px;
}
.m-tb{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-family: var(--content-font);
    font-size: var(--fs-14);
    color: var(--content-color);
}
.py{
    padding-top: 100px;
    padding-bottom: 100px;
}
header{
    width: 100%;
    background-color: rgb(65, 15, 112);
}
header a{
    color: var(--header-list-color);
    display: inline-block;
}
.topbar{
    font-family: var(--content-font);
    border-bottom: 1px solid gray;
}
.container{
    width: 1140px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}
.topbar ul li{
    padding: 10px;
    font-size: var(--fs-14);
}
.num-email-loc ul li a i{
    color: var(--topbar-icon-color);
}
.social-icon a:hover{
    color: var(--social-icon-hover-color);
}
.main-header{
    font-family: var(--header-navlist-font);
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-header ul .nav-list{
    padding: 10px;
    font-size: var(--fs-14);
    font-weight: var(--fw-700);
    margin-right: 10px;
}
.main-header nav a{
    transition: all 0.5s;
}
.main-header nav a:hover{
    color: var(--header-list-hover-color);
}
.btn .header-btn{
    font-family: 'poppins';
}
.dropdown{
    position: relative;
    z-index: 1;
}
.dropdown-menu{
    position: absolute;
    min-width: 150px;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}
.dropdown-menu .drop-l{
    transition: all 0.s;
}
.dropdown-menu .drop-la{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.dropdown-menu .drop-la{
    color: var(--content-color);
    display: block;
}
.dropdown-menu .drop-la:hover{
    color: white;
}
.dropdown-menu .drop-l:hover{
    background-color: var(--btn-hover-color);
}

/* ..........SECTION.......... */


.banner{
    width: 100%;
    padding-bottom: 0;
    background-color: rgb(65, 15, 112);
}
.banner-left{
    flex-basis: 45%;
}
.banner h1, .banner p{
    color: white;
}
.pink-circle-bgdotted-circle{
    left: 36%;
    top: 30%;
    opacity: 0.1;
}
.main-menu-triangle-wave-dot{
    width: 11%;
    height: 25%;
    top: 73%;
    left: 48%;
    opacity: 0.5;
}
.main-menu-girl-bgcircle{
    left: 55%;
    top: 10%;
    width: 31%;
    height: 90%;
    opacity: 0.8;
}